<a href="https://colab.research.google.com/github/PalakCode1/big-data/blob/main/assgn3_202301042.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
new_data={
        'Tid':[1,2,3,4,5,6,7,8,9,10],
        'Refund':['yes','no','no','yes','no','no','yes','no','no','no'],
        'Martial_status':['single','married','single','married','divorced','married','divorced','single','married','single'],
        'Taxable_Income':['125k','100k','70k','120k','95k','60k','220k','85k','75k','90k'],
        'Cheat':['no','no','no','no','yes','no','no','yes','no','yes']}

In [4]:
data=pd.DataFrame(new_data)

In [5]:
print(data)

   Tid Refund Martial_status Taxable_Income Cheat
0    1    yes         single           125k    no
1    2     no        married           100k    no
2    3     no         single            70k    no
3    4    yes        married           120k    no
4    5     no       divorced            95k   yes
5    6     no        married            60k    no
6    7    yes       divorced           220k    no
7    8     no         single            85k   yes
8    9     no        married            75k    no
9   10     no         single            90k   yes

In [6]:
rows = data.iloc[[0, 4, 7, 8]]

print(rows)

   Tid Refund Martial_status Taxable_Income Cheat
0    1    yes         single           125k    no
4    5     no       divorced            95k   yes
7    8     no         single            85k   yes
8    9     no        married            75k    no

In [8]:
df=pd.read_csv('/content/data.csv')

In [9]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]